:root {
  --font-size-h1: 60px;
  --font-size-h2: 48px;
  --font-size-h3: 22px;
  --font-size-body: 16px;
  --font-size-subtext: 12px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-dark-grey: #2E2E2E;
  --color-pale-grey: #E5E5E5;
  --color-mid-grey: #BEBEBE;
  --color-light-grey: #DBDBDB;
  --color-primary: #003BFF;
  --color-shadow: rgba(180, 180, 255, .1);
  --color-primary-light: rgba(180, 180, 255, 0.25);
  --color-white: #FFFFFF;
  --color-state-error: red;

  --spacing-xxsmall: 8px;
  --spacing-xsmall: 12px;
  --spacing-small: 16px;
  --spacing-regular: 18px;
  --spacing-large: 22px;
  --spacing-xlarge: 26px;
  --spacing-xxlarge: 46px;

  --border-radius-regular: 8px;
}